*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore

# Android / Gradle files
app/
gradle/
build.gradle.kts
settings.gradle.kts
gradle.properties
**/AndroidManifest.xml
**/google-services.json
**/*.gradle
**/*.gradle.kts
**/build/
**/captures/
**/.cxx/
**/.externalNativeBuild/
**/local.properties
